# node
node_modules/
npm-debug.log*

# SSL certificates (DO NOT COMMIT)
backend/localhost*.pem
backend/localhost*-key.pem

# environment files
frontend/.env*
backend/.env*

# build outputs
frontend/build/
*.zip

# OS files
.DS_Store
Thumbs.db